{
  "openapi": "3.0.3",
  "info": {
    "title": "DeepForm API",
    "description": "AI-powered depth interview API. Turns ideas into structured requirements through AI conversation.\n\n## Authentication\nMost endpoints require GitHub OAuth. Use GET /api/auth/github to initiate.\n\nSupported authentication methods (checked in order):\n1. **Cookie session** — `deepform_session` cookie (browser login)\n2. **API Key** — `Authorization: Bearer deepform_...` or `X-API-Key: deepform_...`\n3. **exe.dev proxy headers** — `X-ExeDev-UserID` / `X-ExeDev-Email`\n\nSome endpoints (campaigns) support anonymous access via tokens.",
    "version": "1.0.0",
    "contact": {
      "url": "https://github.com/susumutomita/DeepForm"
    }
  },
  "servers": [
    {
      "url": "https://deepform.exe.xyz:8000",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/sessions": {
      "get": {
        "summary": "List sessions",
        "tags": [
          "Sessions"
        ],
        "responses": {
          "200": {
            "description": "List of sessions"
          }
        }
      },
      "post": {
        "summary": "Create session",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "theme"
                ],
                "properties": {
                  "theme": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string",
                    "enum": [
                      "ja",
                      "en",
                      "es",
                      "zh"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created"
          }
        }
      }
    },
    "/api/sessions/{id}": {
      "get": {
        "summary": "Get session details",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session with messages and analysis"
          }
        }
      },
      "delete": {
        "summary": "Delete session",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/sessions/{id}/start": {
      "post": {
        "summary": "Start interview",
        "description": "Get first AI question",
        "tags": [
          "Interview"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI message with choices"
          }
        }
      }
    },
    "/api/sessions/{id}/chat": {
      "post": {
        "summary": "Send message",
        "description": "Send user message, get AI follow-up",
        "tags": [
          "Interview"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI response with choices"
          }
        }
      }
    },
    "/api/sessions/{id}/analyze": {
      "post": {
        "summary": "Extract facts",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured facts with evidence"
          }
        }
      }
    },
    "/api/sessions/{id}/hypotheses": {
      "post": {
        "summary": "Generate hypotheses",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hypotheses with counter-evidence"
          }
        }
      }
    },
    "/api/sessions/{id}/prd": {
      "post": {
        "summary": "Generate PRD",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PRD with features and acceptance criteria"
          }
        }
      }
    },
    "/api/sessions/{id}/spec": {
      "post": {
        "summary": "Generate implementation spec",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spec (API, DB, screens, tests)"
          }
        }
      }
    },
    "/api/sessions/{id}/readiness": {
      "post": {
        "summary": "Production readiness check",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Readiness checklist"
          }
        }
      }
    },
    "/api/sessions/{id}/pipeline": {
      "post": {
        "summary": "Run full pipeline (SSE)",
        "description": "facts -> hypotheses -> PRD -> spec in one call",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events stream",
            "content": {
              "text/event-stream": {}
            }
          }
        }
      }
    },
    "/api/sessions/{id}/spec-export": {
      "get": {
        "summary": "Export spec JSON",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spec as JSON file"
          }
        }
      }
    },
    "/api/sessions/{id}/deploy-bundle": {
      "get": {
        "summary": "Get deploy bundle",
        "description": "PRD + spec ready for exe.dev or coding agents",
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy bundle"
          }
        }
      }
    },
    "/api/sessions/{id}/campaign": {
      "post": {
        "summary": "Create campaign",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign with shareable token"
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "summary": "Submit feedback",
        "tags": [
          "Feedback"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "message"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "bug",
                      "feature",
                      "other"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "page": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Submitted"
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/api/feedback/deepdive": {
      "post": {
        "summary": "AI feedback deep-dive",
        "description": "3-turn AI mini-interview on feedback",
        "tags": [
          "Feedback"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "history": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI reply + done flag"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "summary": "Get current user",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "User profile"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/auth/api-keys": {
      "post": {
        "summary": "Create API key",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable label for the key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The raw key is returned only once."
          },
          "400": {
            "description": "Validation error or key limit reached"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      },
      "get": {
        "summary": "List API keys",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "List of active API keys (hash is never returned)"
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/auth/api-keys/{id}": {
      "delete": {
        "summary": "Revoke API key",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked"
          },
          "401": {
            "description": "Not authenticated"
          },
          "404": {
            "description": "Key not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "deepform_session",
        "description": "Session cookie set after GitHub OAuth login"
      },
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with deepform_ prefix (Authorization: Bearer deepform_...)"
      },
      "xApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key with deepform_ prefix"
      }
    }
  },
  "security": [
    {
      "cookieSession": []
    },
    {
      "bearerApiKey": []
    },
    {
      "xApiKey": []
    }
  ]
}